.menu {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    z-index: 1;
    &_logo {
        padding: 0 9px;
        display: flex;
        a {
            align-self: center;
        }
        svg {
            width: 77px;
            height: 81px;
        }
    }
}
.button {
    p {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 3px;
    }
}
