.writer {
    height: 100%;
    list-style: none;
    padding: 15px;
    display: grid;
    align-items: center;
    grid-gap: 10px 0;
    &_type {
        font-weight: 700;
        color: rgb(24, 196, 24);
    }
    li {
        font-size: 20px;
    }
}
