.dialogTitle {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

//modal
.MuiModal {
    background: rgba(255, 255, 255, 0.57) !important;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    max-width: 840px !important;
    width: 95% !important;
    padding: 15 !important;
}
