.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    &_inner {
        padding: 58px 45px 60px 82px;
        display: grid;
        gap: 53px;
        height: 100%;
        grid-template-columns: minmax(300px, 716px) minmax(300px, 1fr);
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-gap: 50px 0;
    }
    &_links{
        position: absolute;
        bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        svg{
            transition: .3s linear;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
