.toast {
    text-align: center;
}
.or {
    position: relative;
    margin: 34px 0 21px;
    p {
        font-size: 20px;
        line-height: 22px;
    }
    &::after,
    &::before {
        position: absolute;
        content: "";
        width: 43%;
        height: 0.5px;
        top: 55%;
        transform: translate(0, -50%);
        background-color: #000000aa;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}
